[submodule "houdini"]
	path = houdini
	url = https://github.com/Day-OS/houdini.git
[submodule "dash"]
	path = dash
	url = https://github.com/solero/dash
[submodule "legacy-media"]
	path = legacy-media
	url = https://git.daytheipc.com/DayOS/legacy-media.git
[submodule "vanilla-media"]
	path = vanilla-media
	url = https://git.daytheipc.com/DayOS/vanilla-media.git
[submodule "snowflake"]
	path = snowflake
	url = https://github.com/Lekuruu/snowflake.git
